<ion-header>
  <ion-toolbar>
    <ion-title>
      To-Do App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <label position="fixed">Add new Task</label>
        </ion-col>
      </ion-row>

      <ion-row>
          <input class="taskInput" type="text" placeholder="Task..." [(ngModel)]="newTodo.task" />
          <button class="addBtn" (click)="addTask(newTodo)">
            Add
          </button>
      </ion-row>

      <ion-list>
        <ion-item *ngFor="let todo of todos | async">
          <ion-row>
              <ion-col>
                  <ion-checkbox [(ngModel)]="todo.isChecked" (click)="toggleTask(todo.key, todo.isChecked)"></ion-checkbox>
              </ion-col>
            <ion-col>
              <input class="taskItem" type="text" [(ngModel)]="todo.task" />
            </ion-col>
            <ion-col>
              <ion-button
                item-left
                (click)="updateTask(todo.key, todo.task)"
              >
              <ion-icon name="create"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="danger" item-left (click)="deleteTask(todo.key)">
                  <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-grid>
  </div>
</ion-content>
