<ion-header>
  <ion-toolbar>
    <ion-title>
      To-Do App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="fixed">Add new Task</ion-label>
      <input type="text" placeholder="Task..." [(ngModel)]="newTodo.task" />
      <ion-button (click)="addTask(newTodo)">
        Add
      </ion-button>
    </ion-item>

    <ion-list>
      <ion-item *ngFor="let todo of todos | async">
        <input type="text" [(ngModel)]="todo.task" />
        <ion-button item-left (click)="updateTask(todo.key, todo.task)">
            Update
          </ion-button>
        <ion-button item-left (click)="deleteTask(todo.key)">
          Delete
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
