<ion-header>
  <ion-toolbar>
    <ion-title>
      To-Do App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <ion-grid>
    <ion-row>
        <ion-col>
      <ion-label position="fixed">Add new Task</ion-label>
    </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
      <input type="text" size="text" placeholder="Task..." [(ngModel)]="newTodo.task" />
    </ion-col>
    <ion-col>
      <ion-button (click)="addTask(newTodo)">
        Add
      </ion-button>
    </ion-col>
    </ion-row>

    <ion-list>
      <ion-item *ngFor="let todo of todos | async">
          <ion-row>
            <ion-col>
        <input type="text" [(ngModel)]="todo.task" />
      </ion-col>
        <ion-col>
        <ion-button item-left (click)="updateTask(todo.key, todo.task)">
            Update
          </ion-button>
        </ion-col>
          <ion-col>
        <ion-button item-left (click)="deleteTask(todo.key)">
          Delete
        </ion-button>
      </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
    </ion-grid>
  </div>
</ion-content>
